.row {
    display: flex;
}

h3 {
    width: 300px;
}

button {
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background-color: blue;
    border: blue;
    color: white;
    cursor: pointer;
}
